<button style="color:#808080" type="button" class="close pull-right" aria-label="Close" (click)="closeModal('about-modal')">
  <span aria-hidden="true">&times;</span>
</button>
<h1>Welcome to Patients Filter!</h1>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand">About</a>
</nav>
<!-- <div id="visor-video">
  <iframe width="300" height="200"
    [src]="displayURL">
  </iframe>        
</div> -->
<!-- <div class="embed-responsive embed-responsive-16by9" class="video-container">
  <iframe id="input-video" class="embed-responsive-item" src="https://www.youtube.com/embed/Yjkya4ewf48" width="560" height="315" allowfullscreen></iframe>
</div> -->
<!-- https://www.youtube.com/embed/v64KOxKVLVg -->
<!-- #{{displayURL}} -->
<h2> Input Data </h2>
<p> Input file types can be either JSON or excel. Example files have been provided in the project directory. Below are screenshots of expected data formats.</p>
<p> This is a JSON file snippet of one object. Of course, there can be any number of features and non-standard features.</p>
<img src="https://cdn.jsdelivr.net/gh/cloudyaaron/BINF6111@master/src/app/About/images/jsonSnippet.PNG" alt="image" height="200" weight="150">
<br>
<p> A snippet from an excel file </p>
<div class="row">
	<div class="column" style="width: 50%; padding:20px">
    <img src="https://cdn.jsdelivr.net/gh/cloudyaaron/BINF6111@master/src/app/About/images/excelsnippet1.PNG" height="350" weight="225">
  </div>
	<div class="column" style="width: 50%; padding:20px">
	<img src="https://cdn.jsdelivr.net/gh/cloudyaaron/BINF6111@master/src/app/About/images/excelsnip2.PNG" height="350" weight="225">
  </div>
</div>
<p> To input a new file, navigate to the input page. Navigating to the input page can be done by appending "/input" to the base URL or clicking on the "PATIENTS FILTER" heading. Choose a file and upload it, then click submit.</p>
<img src="https://cdn.jsdelivr.net/gh/cloudyaaron/BINF6111@master/src/app/About/images/input.PNG" alt="image" height="200" weight="150">
<br><br>
<h2> Exploring the results of a query </h2>
<p> There are three distinct methods of viewing the results of a query: </p>
<ol>
  <li> Users can use the HPO API to view more information about their queried term and expand their search - either by navigating through the data via the HPO hierarchy or by searching for associated genes and diseases. 
  </li>
  <br>
  <li> Users can view interesting summary statistics about queried terms through the four results graphs. These graphs can also be used to navigate through the data.
  </li> <br>
  <li>Users can click on specific patients to view the information available in the database.
  </li> <br>
 </ol>

<h2> Patients Data </h2>
<p> The patients ID will be displayed on the main page along with their gender, standard features and non-standard features. Clicking on the patients ID will open a pop-up window displaying additional details about the patient such as external IDs, whether phenotypes and non-standard features are observed or not. </p>
<img src="https://cdn.jsdelivr.net/gh/cloudyaaron/BINF6111@master/src/app/About/images/patientData.PNG" height="300" weight="200">
<br><br>
<h2> Searching </h2>
<h4> Searching HPO term </h4>
<p> Before searching a term, make sure the "Terms" has been selected in the options. We suggest it is best to have all options selected for a thorough search.
Start your search by entering a HPO ID or any word of interest in a search bar. Selecting a term will return a list of all patients tagged with that term.</p>
<img src="https://cdn.jsdelivr.net/gh/cloudyaaron/BINF6111@master/src/app/About/images/termSearch.PNG" height="300" weight="200">
<br><br>
<h4> Searching multiple HPO terms </h4>
<p> Multiple terms can be searched simultaneously. If the "Show intersection" is turned on, then patients tagged with all the search terms will be listed. To broaden the search, reomve terms from the search list. </p>
<img src="https://cdn.jsdelivr.net/gh/cloudyaaron/BINF6111@master/src/app/About/images/showIntersection.PNG" height="300" weight="200">
<br><br>
<h4> Searching with API </h4>
<p> The API used in this software can be found at https://hpo.jax.org/webjars/swagger-ui/3.20.9/index.html?url=/api/hpo/docs/. <br><br> Activate the API searching by clicking on the "HPO api" button. This will enable searching the HPO term to the API to display details.</p>
<p> For each term in the search list, the name, other ontology IDs and description will be displayed. A list of the children terms can also be displayed by clicking on "Show first level children". Each of these children terms can be appended to the search list. The search results will then be updated in real time. </p>
<img src="https://cdn.jsdelivr.net/gh/cloudyaaron/BINF6111@master/src/app/About/images/hpoSearch.PNG" height="300" weight="200" align='center'>
<br><br>
<p> Below is an example of searching multiple terms to the API. The result for HP:0000118 is displayed and HP:0000707 is hidden. It can be displayed "Search result of HP:0000707".  </p>
<img src="https://cdn.jsdelivr.net/gh/cloudyaaron/BINF6111@master/src/app/About/images/apiSearchMultiple.PNG" height="300" weight="200">
<br><br>
<h4> Searching diseases and genes </h4>
<p> Natural language searches will return HPO terms, diseases and/or genes that are related to the query. These searches are most informative with the API activated. </p>
<p> For example, typing "bone" in the search box will give a list of suggestions of HPO terms and/or diseases that are related to bone. The suggestions will depend on what options have been selected for the search. </p>
<img src="https://cdn.jsdelivr.net/gh/cloudyaaron/BINF6111@master/src/app/About/images/boneSearch.PNG" height="300" weight="200">
<br><br>
<p> For gene searches, a list of associated phenotype ontologies with the query gene can be displayed. From here, each phenotype onotology from this list can be queried. </p>
<img src="https://cdn.jsdelivr.net/gh/cloudyaaron/BINF6111@master/src/app/About/images/geneSearch.PNG" height="300" weight="200">
<br><br>
<p> For disease searches, a list of words associated with the disease will be displayed. Clicking on "Unfold" will display the phenotypes. Below, the "Unfold" button for Cardiovascular has been clicked. </p>
<img src="https://cdn.jsdelivr.net/gh/cloudyaaron/BINF6111@master/src/app/About/images/diseaseSearch.PNG" height="300" weight="200">
<br><br>
<br><br>
<h3> Graphs </h3>
<p> There are a number of graph representations that can be viewed. Click on the drop down menu to explore the graphs. </p>
<p> The bar graphs shows the number of patients tagged with each HPO term in the data set. Each bar can be hovered over to view the HPO term and the number of patients tagged with it. Clicking on a HPO term in the bar graph will search that term. In the example, the most frequent HPO term HP:0002718 has been selected.  </p>
<div class="row">
	<div class="column" style="width: 50%; padding:20px">
    <img src="https://cdn.jsdelivr.net/gh/cloudyaaron/BINF6111@master/src/app/About/images/barchart1.PNG" height="350" weight="225">
  </div>
	<div class="column" style="width: 50%; padding:20px">
	<img src="https://cdn.jsdelivr.net/gh/cloudyaaron/BINF6111@master/src/app/About/images/barchart2.PNG" height="350" weight="225">
  </div>
</div>
<br><br>
<p> The pie chart will update in real time to display the gender distribution of the patients in the search result. For the search result above of 11 results, there are 5 females, 5 males and 1 unknown. </p>
<img src="https://cdn.jsdelivr.net/gh/cloudyaaron/BINF6111@master/src/app/About/images/piechart.png" height="350" weight="225"> 
<br><br>
<p>The sunburst graph is a hierarchical structure showing all the HPO terms and their childrens. Hovering over each section will display the HPO ID, name and number of patients tagged with it. Clicking on a section will zoom in and display the childrens of that section.</p>
<br><br>
<p> The tree graph can be displayed in two representations: linear or circular. Clicking on each node will split that point into multiple nodes of children terms. Clicking backwards on nodes will collapse its children terms. </p>
<img src="https://cdn.jsdelivr.net/gh/cloudyaaron/BINF6111@master/src/app/About/images/linearTree.PNG" height="300" weight="200">
<br><br>
<img src="https://cdn.jsdelivr.net/gh/cloudyaaron/BINF6111@master/src/app/About/images/circularTree.PNG" height="300" weight="200">

 


