<button style="color:#808080" type="button" class="close pull-right" aria-label="Close" (click)="closeModal('about-modal')">
  <span aria-hidden="true">&times;</span>
</button>
<h1>Welcome to Patients Filter!</h1>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand">About</a>
</nav>
<!-- <div id="visor-video">
  <iframe width="300" height="200"
    [src]="displayURL">
  </iframe>        
</div> -->
<!-- <div class="embed-responsive embed-responsive-16by9" class="video-container">
  <iframe id="input-video" class="embed-responsive-item" src="https://www.youtube.com/embed/Yjkya4ewf48" width="560" height="315" allowfullscreen></iframe>
</div> -->
<!-- https://www.youtube.com/embed/v64KOxKVLVg -->
<!-- #{{displayURL}} -->
<h2> Input Data </h2>
<p> To input a new file, navigate to the input page. Navigating to the input page can be done by appending "/input" to the base URL or clicking on the "PATIENTS FILTER" heading. Input file types can be either JSON or excel. Choose a file and upload it, then click submit.</p>
<p> </p>
<img src="https://cdn.jsdelivr.net/gh/cloudyaaron/BINF6111@kavitha/src/app/About/images/input.PNG" alt="image" height="200" weight="150">
<br><br>
<h2> Patients Data </h2>
<p> The patients ID will be displayed on the main page along with their gender, standard features and non-standard features. Clicking on the patients ID will open a pop-up window displaying additional details about the patient such as external IDs, whether phenotypes and non-standard features are observed or not. </p>
<br><br>
<img src="">
<br><br>
<h2> Searching </h2>
<h4> Searching HPO term </h4>
<p> Before searching a term, make sure the "Terms" has been selected in the options. We suggest it is best to have all options selected for a thorough search.
Start your search by entering a HPO ID or any word of interest in a search bar. Selecting a term will return a list of all patients tagged with that term.</p>
<img src="./images/patients" alt="image">
<br><br>
<h4> Searching multiple HPO terms </h4>
<p> Multiple terms can be searched simultaneously. If the "Show intersection" is turned on, then patients tagged with all the search terms will be listed. To broaden the search, reomve terms from the search list. </p>
<img src="./images/showIntersection" alt="image">
<br><br>
<h4> Searching with API </h4>
<p> The API used in this software can be found at https://hpo.jax.org/webjars/swagger-ui/3.20.9/index.html?url=/api/hpo/docs/. <br><br> Activate the API searching by clicking on the "HPO api" button. This will enable searching the HPO term to the API to display details.</p>
<p> For each term in the search list, the name, other ontology IDs and description will be displayed. A list of the children terms can also be displayed by clicking on "Show first level children". Each of these children terms can be appended to the search list. The search results will then be updated in real time. </p>
<img src="https://cdn.jsdelivr.net/gh/cloudyaaron/BINF6111@kavitha/src/app/About/images/hpoSearch.PNG" height="300" weight="200" align='center'>
<br><br>
<h4> Searching diseases and genes </h4>
<p> Natural language searches will return HPO terms, diseases and/or genes that are related to the query. These searches are most informative with the API activated. </p>
<p> For example, typing "bone" in the search box will give a list of suggestions of HPO terms and/or diseases that are related to bone. The suggestions will depend on what options have been selected for the search. </p>
<img src="./images/boneSearch" alt="image">
<br><br>
<p> For gene searches, a list of associated phenotype ontologies with the query gene can be displayed. From here, each phenotype onotology from this list can be queried. </p>
<img src="./images/geneSearch" alt="image">
<br><br>
<br><br>
<h3> Graphs </h3>
<p> There are a number of graph representations that can be viewed. Click on the drop down menu to explore the graphs. </p>
<p> The bar graphs shows the number of patients tagged with each HPO term in the data set. Each bar can be hovered over to view the HPO term and the number of patients tagged with it. Clicking on a HPO term in the bar search will search that term. The pie chart shows the gender distribution of the patients in the data set. <br><br>
The sunburst graph is a hierarchical structure showing all the HPO terms and their childrens. Hovering over each section will display the HPO ID, name and number of patients tagged with it. Clicking on a section will zoom in and display the childrens of that section. The tree graph can be displayed in two representations: normal (linear) or circular. Clicking on each node will split that point into multiple nodes of children terms. Clicking backwards on nodes will collapse its children terms. </p>
 


