<button style="color:#808080" type="button" class="close pull-right" aria-label="Close" (click)="closeModal('about-modal')">
  <span aria-hidden="true">&times;</span>
</button>
<h1>Welcome to Patients Filter!</h1>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand">About</a>
</nav>
SAMPLE VIDEO FOR TESTING!
<!-- <div id="visor-video">
  <iframe width="300" height="200"
    [src]="displayURL">
  </iframe>        
</div> -->
<div class="embed-responsive embed-responsive-16by9" class="video-container">
  <iframe id="input-video" class="embed-responsive-item" src="https://www.youtube.com/embed/Yjkya4ewf48" width="560" height="315" allowfullscreen></iframe>
</div>
<!-- https://www.youtube.com/embed/v64KOxKVLVg -->
<!-- #{{displayURL}} -->
<h2> Input File </h2>
<p> To input a new file, navigate to the home page. File types can be either JSON or excel. </p>
<h2> Searching </h2>
<p> You can start your search by entering "HP:XXXXXXX". Make sure "HP" is in capital letter. </p>
<p> Clicking on the "HPO api" button will enable searching the HPO term to the api to return children terms. The API used in this software can be found at https://hpo.jax.org/webjars/swagger-ui/3.20.9/index.html?url=/api/hpo/docs/. </p>

