<ng-container *ngIf="patients.length != 0">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Patient</th>
        <th scope="col">Sex</th>
        <th scope="col">Features</th>
        <th scope="col">Non-standard Features</th>
      </tr>
    </thead>
    <tbody>   
      <ng-container *ngFor="let patient of patients">
        <tr [ngClass]="{'table-secondary':type=='R'}" >
          <th scope="row" onmouseover="" style="cursor: pointer;" (click)="openDialog(patient)">{{patient.report_id}}</th>
          <td>{{patient.sex}}</td>
          <td>
            <div class="form-group">
              <select class="custom-select"> 
                <ng-container *ngFor="let features of patient.features">
                <ng-container *ngIf="features['observed'] == 'yes'">
                  <option> {{features["id"]}}</option>
                  </ng-container>
                </ng-container>
              </select>
            </div>
          </td>
          <td>
            <div class="form-group">
              <select class="custom-select"> 
                <ng-container *ngFor="let features of patient.nonstandard_features">
                <option> {{features["label"]}}</option>
                </ng-container>
              </select>
            </div>
          </td>

        
        </tr>
      </ng-container>
    </tbody>
  </table> 
</ng-container>