<div style="text-align:center">
  <h1> PATIENTS </h1>
  <h2> Total patients number: {{patientsLenth}}</h2>
  <p>
    <input (keyup)="onKeyUp($event)">
    {{values}}
  </p>
</div>
<ul *ngFor="let patient of patients">
  <li> <p> <b> {{patient.report_id}} </b> &nbsp; &nbsp; Sex: {{patient.sex}} 
  <table> <th> Non-standard Features  </th> 
  <tr>
    <td> Categories </td>
    <ul *ngFor="let features of patient.nonstandard_features"> 
      <td> {{features["label"]}}
    </td>
    </ul>
  </tr></table>
  <p> &nbsp;
  </p>  
</ul>
