<div> 
  <div style="text-align:center">
	  <h1 routerLink="input" routerLinkActive="active" onmouseover="" style="cursor: pointer;"> PATIENTS FILTER </h1>
  </div>
		<nav>
			<!-- <a routerLink="/input" routerLinkActive="active"> Upload File</a> -->
      <!-- <input type="submit" name="Upload File" routerLink="main" routerLinkActive="active">  -->
      <!-- <button type="button" routerLink="input" routerLinkActive="active">Click Me!</button> -->
		</nav>
		<router-outlet></router-outlet>
</div>
