
<h3>Get Information for HPO Term {{input_term['detail']}}</h3>

<div>
  <HPOapi *ngIf="toggle"> {{extractInput()}} </HPOapi>
  <p> Name is {{name}}, HPO id is {{hpoid}}</p>
  <div *ngIf="haveChildren">
    <p> Childrens are: </p>
    <p *ngFor="let c of firstLevelChildren" > 
      {{c['name']}}, {{c['ontologyId']}}
      <button> Search Patient</button>
      <button (click)="showConfig(c['ontologyId'])">Find Term</button>
      </p>
  </div>
  

</div>


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
<HPOapi *ngFor="let s of input_term" > {{s}} </HPOapi>
(click)="showConfig(c['ontologyId'])"
<HPOapi *ngFor="let child of firstLevelChildren" > {{child}} </HPOapi>
-->