

      <h3 class="mb-0">
          Search Result of {{input_term['detail']}}      
      </h3>
    
    <div *ngIf="toggleTerm" class="card body" id="resultbody" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">  
      <HPOapi *ngIf="toggle"> {{extractInput()}} </HPOapi>
      <div *ngIf="isNaturalLanguage" > 
      <p> Disease lists are: </p>
      <ul class="list-group">
          <ng-container *ngFor="let c of naturalLanguage_result" > 
        <li class="list-group-item d-flex justify-content-between align-items-center">
          {{c['name']}}, {{c['ontologyId']}}
        <div class="btn-group">
          <button class="btn btn-success"(click)="AddToSearch(c['ontologyId'])"> Add </button>
          <button class="btn btn-success" (click)="showHPOTermConfig(c['ontologyId'])">Find Term</button>
        </div>
        </li>
      </ng-container>
        </ul>
      </div>

      <div *ngIf="!isNaturalLanguage" class="card body">
      <Strong> Name : {{name}}, HPO id is {{hpoid}}</Strong>

         <div class="custom-control custom-switch">
       <input type="checkbox" class="custom-control-input" id="customSwitches" >
       <label class="custom-control-label" for="customSwitches">Children Mode</label>
      </div>

       <div *ngIf="haveChildren">
        <em> Children are: </em> 
       <br>
       <ul class="list-group">
          <ng-container *ngFor="let c of firstLevelChildren" > 
        <li class="list-group-item d-flex justify-content-between align-items-center">
          {{c['name']}}, {{c['ontologyId']}}
        <div class="btn-group">
          <button class="btn btn-success"(click)="AddToSearch(c['ontologyId'])"> Add </button>
          <button class="btn btn-success" (click)="showHPOTermConfig(c['ontologyId'])">Find Term</button>
        </div>
        </li>
      </ng-container>
        </ul>
      </div>
      </div>
    </div>


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
<HPOapi *ngFor="let s of input_term" > {{s}} </HPOapi>
(click)="showConfig(c['ontologyId'])"
<HPOapi *ngFor="let child of firstLevelChildren" > {{child}} </HPOapi>
<div *ngIf="this.checkIfResult()"> Error Message: Cannot find results for {{input_term['detail']}}</div>


-->